/* Card2 container */
.box2{
  border-radius: 10px;;
}
/* Tittle - Active Leaves */
.tittle{
  font-size: 14px;
  font-weight: bold;
  color: green;
}
/* Border-color */
.back{
  border: 2px solid green;
}

