<form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)" novalidate>
    <h3 class="text-center">Add New Employee</h3>

    <div class="container-fluid">
        <div class="row">

            <!-- LEFT SECTION -->
            <div class="col-sm-6">


                <!-- Employee Name -->
                <div class="form-group mb-3">
                    <label for="EmpName">Employee Name</label>
                    <input id="EmpName" type="text" class="form-control" name="EmpName" required minlength="3" [(ngModel)]="employee.EmpName" #EmpName="ngModel" placeholder="Enter employee name">
                </div>


                <!-- Employee ID -->
                <div class="form-group mb-3">
                    <label for="EmpId">Employee ID</label>
                    <input id="EmpId" type="text" class="form-control" name="EmpId" required [(ngModel)]="employee.EmpId" #EmpId="ngModel" placeholder="Enter employee ID">
                </div>

                <!-- Email -->
                <div class="form-group mb-3">
                    <label for="EmpEmailId">Email ID</label>
                    <input id="EmpEmailId" type="email" class="form-control" name="EmpEmailId" required email [(ngModel)]="employee.EmpEmailId" #EmpEmailId="ngModel" placeholder="Enter email address">
                </div>

                <!-- Designation -->
                <div class="form-group mb-3">
                    <label for="EmpDesignation">Designation</label>
                    <input id="EmpDesignation" type="text" class="form-control" name="EmpDesignation" required [(ngModel)]="employee.EmpDesignation" #EmpDesignation="ngModel" placeholder="Enter designation">
                </div>

            </div>

            <!-- RIGHT SECTION -->
            <div class="col-sm-6">

                <!-- Role -->
                <div class="form-group mb-3">
                    <label for="EmpRole">Role</label>
                    <input id="EmpRole" type="text" class="form-control" name="EmpRole" required [(ngModel)]="employee.EmpRole" #Emprole="ngModel" placeholder="Enter role">
                </div>